@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {

    /* font-size  */

    --fs-26: 26px;
    --fs-14: 14px;
    --fs-75: 75px;
    --fs-21: 21px;
    --fs-16: 16px;
    --fs-45: 45px;
    --fs-18: 18px;
    --fs-45: 45px;
    --fs-17: 17px;
    --fs-15: 15px;
    --fs-13: 13px;

    /* font-weight */

    --fw-: 275;
    --fw-: 400;
    --fw-: 500;
    --fw-: 600;
    --fw-: 700;

    /*font-family */

    --ff_poppins: "poppins", sans-serif;
    --ff_Roboto: "Roboto", sans-serif;

    /* background-color */

    --bg-blue: #1E71FF;
    --bg-blue: #E8F1FF;
}

.fs-26 {
    font-size: 26px;
}

.fs-14 {
    font-size: 14px;
}

.fs-75 {
    font-size: 75px;
}

.fs-21 {
    font-size: 21px;
}

.fs-16 {
    font-size: 16px;
}

.fs-45 {
    font-size: 45px;
}

.fs-18 {
    font-size: 18px;
}

.fs-45 {
    font-size: 45px;
}

.fs-17 {
    font-size: 17px;
}

.fs-15 {
    font-size: 15px;
}

.fs-13 {
    font-size: 13px;
}

.fw-275 {
    font-weight: 275;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.min-vh-100 {
    min-height: 100vh;
}

.ff_poppins {
    font-family: 'poppins', sans-serif;
}

.ff_Roboto {
    font-family: "Roboto", sans-serif;
}

.bg-blue {
    background-color: #1E71FF;
}

.bg-color {
    background-color: #E8F1FF;
}

.w-100 {
    max-width: 100%;
}

.pt-209 {
    padding-top: 209px;
}

.mt-204 {
    margin-top: 204px;
}

.mb-160 {
    margin-bottom: 160px;
}

.pb-370 {
    padding-bottom: 370px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-92 {
    padding-bottom: 92px;
}

.mb-180 {
    margin-bottom: 180px;
}

.mt-124 {
    margin-top: 124px;
}

.mb-137 {
    margin-bottom: 137px;
}

.pt-166 {
    padding-top: 166px;
}

.pb-209 {
    padding-bottom: 209px;
}

.pt-30 {
    padding-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-42 {
    margin-top: 42px;
}

.pt-18 {
    padding-top: 18px;
}

.pt-253 {
    padding-top: 253px;
}

.pt-20 {
    padding-top: 20px;
}

.gap-1 {
    gap: 30px;
}

.gap-2 {
    gap: 25px;
}

.container {
    max-width: 1220px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.jastify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.justify-content-between {
    justify-content: space-between;
}

.btn1 {
    border-radius: 100px;
    padding: 11px 28px;
    background-color: #ffffff33;
    color: #ffffff;
    border: 1px solid #ffffff;
    border: none;
    cursor: pointer;
}

.btn2 {
    border-radius: 100px;
    padding: 11px 28px;
    background-color: #FFFFFF;
    color: #ffffff;
    border: 1px solid #ffffff;
    border: none;
    cursor: pointer;
}

.btn3 {
    border-radius: 100px;
    padding: 11px 28px;
    background-color: #1E71FF;
    color: #ffffff;
    border: 1px solid #ffffff !important;
    border: none;
    cursor: pointer;
}

.btn4 {
    border-radius: 100px;
    padding: 11px 28px;
    background-color: #1E71FF;
    color: #ffffff;
    border: 1px solid #ffffff;
    border: none;
    cursor: pointer;
}

.btn5 {
    border-radius: 100px;
    padding: 11px 28px;
    background-color: #E8F1FF;
    color: #ffffff;
    border: 1px solid #1E71FF !important;
    border: none;
    cursor: pointer;
}

.li {
    color: #FFF;
}

.font1 {
    color: white;
}

.font2 {
    color: white;
}

.font3 {
    color: #1E71FF;
}

.font5 {
    max-width: 499px;
    color: #ffffff;
}

.font-6 {
    color: #2B353E;
}

.font-7 {
    color: #2B353E;
}

.paragraph {
    color: #2b353eb3;
    max-width: 566px;
}

.color-white {
    color: white;
}

.text-color {
    color: #1E71FF;
}

.text-color2 {
    color: #ffffff;
}

.color-2 {
    color: #1E71FF;
}

.text-color3 {
    color: #6B7278;
}

.overflow {
    overflow: hidden;
}

.position-absloute {
    position: absolute;
    left: -12px;
}

.transform {
    transform: translate(107%, 0%);
}

@media (max-width:992px) {
    .mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: -100%;
        background-color: #1E71FF;
        transition: all 250ms linear;
        z-index: 3;
        min-width: 100%;
        position: fixed;
        height: 100%;
    }

    .menu span {
        width: 40px;
        height: 4px;
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;
        z-index: 4;
        position: relative;
        background-color: #ffffff;
    }

    input[type="checkbox"]:checked+.mobile-view {
        right: 0;
    }
}